.jumbotron {
  width: 99.25vw;
  height: 42vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%),
  url("https://lh3.googleusercontent.com/proxy/QPLaZCqVQheutWwy3vZZ2fmR2MjAU4ZxeNFUPdyDwCmdowUxNgVYyENK7Ig8_ZY9ohMajfwIaCFFwrPzfq7m9XB7lTRs7T4vwzj9YpogKeZWJJvLgQg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
