.jumbotron {
  width: 99.25vw;
  height: 42vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%),
  url("https://lh3.googleusercontent.com/proxy/SUWAQvu3DieRBhFHu8m00YeaV5ehBYcAOx5GRrIHF1ZUppnPYBallaRXEDLQ2dzLrclyxLd2jApAPkhxc8zvwjppcIBsOSK0xKJBdl88oYLezcRf950_YHvLs_TZmyixdx0");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
