.jumbotron {
  width: 99.25vw;
  height: 42vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%),
  url("https://lh3.googleusercontent.com/proxy/IiA5ONd7-RbCdMbVUIe5fCUc537hxFhyS55FWga5KChmj6v2yRHf_JmrbH8TYl15rlqANO2N-Pir6veuMJIbKkMRPtakL_m02PH72HgwRg-W08WodeU");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
